html, body{
  margin:0;
  width:100%;
  height:100%;
}

.screen{
  display:none;
  width:100%;
  height:100%;
}

.screen.active{
  display:block;
}

body{
  background:#0a2a63 url("wallpaper.jpg") center/cover no-repeat fixed;
  font-family:sans-serif;
}

.app{
  width:100%;
  height:100%;
  padding:20px;
  box-sizing:border-box;
}

.page1{
  width:100%;
  height:100%;
  display:grid;
  grid-template-columns: 1.2fr 0.9fr 80px;
  gap:16px;
}

.col{
  min-height:0;
}

.col-left{
  display:grid;
  grid-template-rows:120px 1fr;
  gap:16px;
}

.col-middle{
  display:grid;
  grid-template-rows:120px 1fr;
  gap:16px;
}

.col-right{
  display:grid;
  grid-template-rows:1fr auto;
  gap:16px;
}

.box{
  background:rgba(255,255,255,0.92);
  border-radius:24px;
  color:#111;
  padding:16px;
  border:3px solid rgba(0,0,0,0.35);
  box-sizing:border-box;
}

.notice-content,
.notice-box textarea{
  width:100%;
  height:100%;
}

.notice-box textarea{
  border:none;
  resize:none;
  background:transparent;
  font-size:24px;
  outline:none;
}

.side-buttons{
  display:flex;
  flex-direction:column;
  gap:12px;
  justify-content:end;
}

.side-buttons button{
  width:60px;
  height:60px;
  border-radius:50%;
  border:none;
}

.page2{
  display:grid;
  grid-template-rows: 1fr 260px;
  gap:16px;
  height:100%;
}

.page2-top{
  min-height:0;
  display:flex;
  flex-direction:column;
  padding:16px;
}

.notice-board-header{
  display:grid;
  grid-template-columns:auto 1fr auto;
  align-items:center;
  gap:12px;
  padding-bottom:10px;
  border-bottom:1px solid rgba(0,0,0,0.08);
}

.notice-date-text{
  text-align:center;
  font-size:32px;
  font-weight:900;
}

.notice-board-textarea{
  flex:1;
  width:100%;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  font-size:72px;
  font-weight:700;
  margin-top:14px;
}

.page2-bottom{
  display:grid;
  grid-template-columns: 1fr 72px;
  gap:16px;
  min-height:0;
}

.student-area{
  min-height:0;
  padding:12px;
}

.student-grid{
  height:100%;
  display:grid;
  grid-template-columns:repeat(7,1fr);
  gap:12px 14px;
  align-content:stretch;
}

.student-btn{
  min-height:68px;
  font-size:30px;
  font-weight:900;
  border:none;
  border-radius:14px;
  background:rgba(255,255,255,0.95);
}

.page2-buttons{
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items:center;
  gap:12px;
  padding-bottom:4px;
}

.page2-buttons button{
  width:52px;
  height:52px;
  border:none;
  border-radius:50%;
}


